@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --light: #ffffff;
  --dark: #000000;
  --background: var(--dark);
  --foreground: var(--light);

  /* Custom colors */
  --gospel-primary: #ff9c00;
  --gospel-secondary: #8e5700;
  --gospel-text: var(--foreground);
  --gospel-text-light: var(--foreground);
  --gospel-contrast: #1b7bb6;
  --gospel-hover: #1b7bb67e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--light);
  font-family: var(--font-lato), sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 16px;
}

.prose {
  --tw-prose-body: var(--light);
  --tw-prose-headings: var(--light);
  --tw-prose-lead: var(--light);
  --tw-prose-links: var(--gospel-contrast);
  --tw-prose-bold: var(--light);
  --tw-prose-counters: var(--light);
  --tw-prose-bullets: var(--light);
  --tw-prose-hr: var(--light);
  --tw-prose-quotes: var(--light);
  --tw-prose-quote-borders: var(--light);
  --tw-prose-captions: var(--light);
  --tw-prose-code: var(--light);
  --tw-prose-pre-code: var(--light);
  --tw-prose-pre-bg: var(--dark);
  --tw-prose-th-borders: var(--light);
  --tw-prose-td-borders: var(--light);
}

a {
  color: var(--gospel-contrast);
}

a:hover {
  color: var(--gospel-hover);
}

.nav-bar-link {
  color: var(--gospel-text);
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  transition: border-color 300ms ease-in-out;
}

.nav-bar-link:hover {
  color: var(--gospel-text);
  border-bottom-color: var(--gospel-primary);
}

button {
  color: var(--gospel-text-light);
  background-color: var(--gospel-primary);
  cursor: pointer;
}

button:hover {
  background-color: var(--gospel-secondary);
  color: var(--gospel-text);
}