@import "tailwindcss";

:root {
  --light: #ffffff;
  --dark: #000000;
  --background: var(--light);
  --foreground: var(--dark);

  /* Custom colors */
  --gospel-primary: #ff9c00;
  --gospel-secondary: #4f46e5;
  --gospel-text: var(--foreground);
  --gospel-text-light: var(--background);
  --gospel-contrast: #1b7bb6;
  --gospel-hover: #1b7bb67e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --foreground: var(--light);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), sans-serif;
}

a {
  color: var(--gospel-contrast);
}

a:hover {
  color: var(--gospel-hover);
}

.nav-bar-link {
  color: var(--gospel-text);
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  transition: border-color 300ms ease-in-out;
}

.nav-bar-link:hover {
  color: var(--gospel-text);
  border-bottom-color: var(--gospel-primary);
}

button {
  color: var(--gospel-text-light);
  background-color: var(--gospel-primary);
}